#audio-canvas {
    border: 2px solid purple;
    border-radius: 20%;
}
#playButton {
    padding: 10px 10px;
    border-radius: 30%;
    border: 1px solid steelblue;
    width: 100px;
}

#pauseButton {
    padding: 10px 10px;
    border-radius: 30%;
    border: 1px solid steelblue;
    width: 100px;
}

#mute {
    padding: 10px 10px;
    border-radius: 40%;
    border: 1px solid steelblue;
    width: 35px;
}

#unmute {
    padding: 10px 10px;
    border-radius: 40%;
    border: 1px solid steelblue;
    width: 35px;
}

#fast-forward {
    padding: 10px 10px;
    border-radius: 40%;
    border: 1px solid steelblue;
    width: 35px;
}
i {
    color: steelblue;
}
